<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
              <!-- Brand -->
    <a [style.pointer-events]="!(authState | async).authenticated ?'none':'auto'"  class="navbar-brand" href="#" routerLink="home">{{WebsiteName}}</a>
    <!-- Links -->
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto" *ngIf="(authState | async).authenticated">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="errors">Errors</a>
        </li>
        <!-- Dropdown -->
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Dropdown link
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Errors</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>-->
      </ul>
      <ul *ngIf="!(authState | async).authenticated" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="signup">Sign Up</a>
        </li>
      </ul>
      <ul *ngIf="(authState | async).authenticated" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="Logout()">Log out</a>
        </li>
      </ul>
    </div>
</nav>